@import '../../../scss/variables';
@import '../../../scss/mixins';

.auth {
    &::before {
        content : "";
        position: absolute;
        top : 0;
        width : 100%;
        height : 30%;
        background : $teal-green-light;
        z-index : -1;
    }

    &::after {
        content : "";
        position: absolute;
        bottom : 0;
        width : 100%;
        height : 70%;
        background : $background-root-dark;
        z-index : -1;
    }
}
.auth_form {
    width : 60%;
    height : 75%;
}

.google_logo {
    height : 50px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .auth_form {
        width : 95%;
    }
}