@import '../../../scss/variables';
@import '../../../scss/mixins';

.chat_navbar_container {
    height : 60px;
    width : 100%;
    background-color : $nav-background-dark;
    color : $nav-icons-color;
}

.chat_navbar_items {
    margin : 0;
    padding : 0;
    list-style : none;
    width : 100%;
    height : 60px;
}

.chat_navbar_item_back {
    cursor : pointer;
    padding : 10px;
    height : 100%;

    &:hover {
        background : rgba(#fff, 0.1);
    }
}

.chat_navbar_item_profile {
    padding : 0 10px 0 10px;
    height : 60px;
    cursor : pointer;

    &:hover {
        background : rgba(#fff, 0.1);
    }
}

.chat_navbar_item_name {
    width : calc(100% - 120px);
    padding : 15px;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
}

.chat_navbar_icon {
    width : 40px;
    cursor : pointer;
}

.chat_navbar_icon_add {
    width : 50px;
}