@import '../../../scss/variables';
@import '../../../scss/mixins';

.chat_container {
    width : 60%;
    min-width : 300px;
    height : 100%;
    position: relative;
    transform-origin: left;
    background-color: $home-background-dark;

    transition: all 0.2s ease-in-out;
}

.open {
    transform: scaleX(1);
}

.close {
    transform: scaleX(0);
}

@media (max-width: 599px) {
    .chat_container {
        width : 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 60;
    }

    .open {
        transform: translateX(0);
    }

    .close {
        transform: translateX(-100%);
    }
}