@import '../../../scss/variables';
@import '../../../scss/mixins';

.chats_dropdown_container {
    position: absolute;
    top : 59px;
    right : 10px;
    z-index : 50;
    transform-origin: top right;

    animation: growth 0.2s ease;
}

.chats_dropdown_item {
    width : 200px;
    background-color : $nav-background-dark;
    color : $nav-icons-color;

    &:hover {
        background-color : $dropdown-hover-dark;
    }
}

@keyframes growth {
    from {
        transform : scale(0,0);
    }

    to {
        transform : scale(1,1);
    }
}